@import "./generic";

.img--carousel{
    height: 50vh;
    object-fit: cover;
}

.contenedor__imagen--chico{
    @include contenedor;
    width: map-get($contenedores, wChico);
    height: map-get($contenedores, hGrande);
    box-shadow: 1px black;
}

.pharagrap{
    text-align: justify;
    font-size: 1.4rem;
    color: white;
    font-family: 'Amatic SC', cursive;
}

.section--conFondo{
    height: fit-content;
    @include flex-center;
}

.icono{
    width: 25px;
    height: 25px;
}

.imagenPrincipal{
    position: absolute;
    bottom:-5rem;
    width: 100%;
}